<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<!-- ko if: (visible)-->
<div class="field addresses">
    <div class="control">
        <div class="shipping-address-items">
            <!-- ko foreach: { data: elems, as: 'element' } -->
            <!-- ko template: element.getTemplate() --><!-- /ko -->
            <!-- /ko -->
        </div>
        <button class="action edit" data-bind="i18n: 'Change'" click="showAddressAction"></button>
    </div>
    <div class="actions-toolbar desktop-device">
        <button class="action primary complete" data-bind="i18n: 'Complete'" click="selectAddressAction"></button>
        <button class="action back" data-bind="i18n: 'Back'" click="resetAddressAction"></button>
    </div>
</div>
<!-- /ko -->
